<div class="interactive-wrapper interactive-audio-player-wrapper">
  <div class='player' data-audio="<%= path %>/assets/BobMelton_phone.mp3">
    <div class='player__play-pause'>
      <svg class='icon play' width="16" height="13" viewBox="0 0 16 13" xmlns="http://www.w3.org/2000/svg"><path fill="#121212" d="M16 6.86v-.672L.569 0 0 .432v12.184L.569 13z" fill-rule="evenodd"/></svg>

      <svg class='icon pause' width="12" height="14" viewBox="0 0 12 14" xmlns="http://www.w3.org/2000/svg"><path d="M4 0H1L0 1v13h4V0zm4 14h3l1-1V0H8v14z" fill="#121212" fill-rule="evenodd"/></svg>
      
      <svg class='circle full' width="34" height="34" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg"><ellipse cx="17" cy="17" rx="16" ry="16" stroke='#121212' stroke-width='1' fill='#fff' stroke-dasharray='0 0 100' /></svg>
    </div>
    <div class='caption-wrapper'>
      <span class='icon-audio'><svg width="15" height="13" viewBox="0 0 15 13" xmlns="http://www.w3.org/2000/svg"><path d="M.938 9h1.875l3.75 4H7.5V0h-.938l-3.75 4H.938L0 5v3l.938 1zm13.124-2c-.2 1.434-.82 3.2-1.874 5C14.046 10.699 15 8.737 15 7c0-2.72-.954-4.699-2.813-6 1.055 1.8 1.675 3.566 1.876 6zm-3.75 0c-.043.643-.341 1.65-.937 3 1.35-.918 1.875-2.123 1.875-3 0-1.877-.526-3.082-1.875-4 .596 1.35.894 2.375.938 4z" fill="#121212" fill-rule="evenodd"/></svg></span>
      <span class='caption-wrapper__text'></span>
    </div>
  </div>
</div>
