// @import "mq";
// @import "fonts";
// @import "palette";

// Uncomment for embeds
// @import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

html,
body {
  margin: 0;
}

.picture-loop {
  &__wrapper {
    position: relative;
  }
  
  &__video {
    position: absolute;
    z-index: 10;
  }
  
  &__image {
    display: block;
    position: relative;
    z-index: 20;
    width: 100%;
    height: auto;
  }
}
